
  <div class="center hero-unit">
	<h1 style="color:brown;margin-left:20px;">
          Ongaku-Otaku 
     </h1>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand">Gallery</a>
    <ul class="nav">
      <li><a href="/moonlights_path">Moonlight's Path</a></li>
      <li><a href="/twilight_witch">Twilight Witch</a></li>
      <li><a href="/sketch_angel">Sketch Angel</a></li>
      <li><a href="/miscellaneous">Miscellaneous</a></li>
    </ul>
  </div>
</div>

  <head>
    <title>
     Toggle Button!
    </title>
    <link href="togglebutton.css" type="text/css" rel="stylesheet">
  </head> 
  <body id="public">
    <div>
      <!-- Body Header -->
      <div id="header">
        <p> Welcome to Ongaku-Otaku! This is a on-working site where we can share the music and anime needs in all of us!
        </p>
      </div>

	<IMG SRC="/images/bggreen.jpg" ALT="Oops!" WIDTH=300 	HEIGHT=300>
      
      <!-- Body Content -->
      <div id="content">
        <input type="button" value="Hide" id="toggleButton" style="float:right;">
        <h2>
          What can we expect from this site?
        </h2>
        <p>
		Ongaku-Otaku is in its preliminary stages. Some functional resources this site has as of now is a micropost, Twitter-like feed, and users who can sign in and out. Hoping to add a blog and a database where people can upload music. But right now, this site is more for personal use for testing. On sign up, the user will enable microposting.
    	   </p>
	  <p>
	    If you would like an arrangement of a piece or song, just let me know!
       </p>
      </div>
      <!-- Footer -->
      <div id="footer">
       I hope to update this soon, once I have more time! ^^ --Anh
      </div>
     </div>
    
    <script src="libs/jquery-1.4.4.js"></script>
    <script src="hideshow.js"></script>
  </body>
    
<body background="/images/anime.jpg" bgproperties="fixed"> 

    <table width=100% height=100%>

      <tr>
        <td style="text-align: center; vertical-align: middle;">

        </td>
    </tr>
  </table> 


<%= link_to "Sign up now!", signup_path, class: "btn btn-large brn-primary" %>


</div>

<% if signed_in? %>
<div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div> 
<% else %>
<% end %> 


<%= image_tag "/images/music.png", :alt => "Go Home",
                          :id => "/static_pages/home",
                          :class => 'nav_bar' %>
