<div class="center hero-unit">
<h1>Ongaku</h1>

<body background="/images/musicbg.jpg" bgproperties="fixed"> 

<table width=100% height=100%>
<tr>
<td style="text-align: center; vertical-align: middle;">

<IMG SRC="/images/bggreen.jpg" ALT="Oops!" WIDTH=256 HEIGHT=256>

</td>
</tr>
</table>


</br>
<p> I enjoy the following things: </p>
<%= check_box_tag(:anime) %>
<%= label_tag(:anime, "Anime") %>
<%= check_box_tag(:games) %>
<%= label_tag(:games, "Games") %>
</br>


<select name="gender">
  <option value="1">Male</option>
  <option value="2">Female</option>
</select>

<p> I agree to the nonexistent terms and conditions. </p>
<%= radio_button_tag(:agree, "yes") %>
<%= label_tag(:agree_yes, "Yes") %>
<%= radio_button_tag(:agree, "No") %>
<%= label_tag(:agree_no, "No") %>

<%= link_to "Sign up now!", signup_path, class: "btn btn-large brn-primary" %>


</div>

<%= image_tag "/images/music.png", :alt => "Go Home",
                          :id => "/static_pages/home",
                          :class => 'nav_bar' %>